.slider {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  margin-top: -10px;
  width: 64%;
  margin-left: -32%;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  z-index: 99;
}

.slider::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 43px;
  /* width: 25px; */
  height: 56px;
  /* height: 25px; */
  background: #4caf50;
  background: url('/slider-thumb.png') center / contain no-repeat;
  cursor: pointer;
}

/* .buttons {
  position: absolute;
  top: 40%;
  left: 40%;
} */
